#!/usr/bin/make -f
# debian/rules for the Debian twm package.
# Copyright © 2004 Scott James Remnant <scott@netsplit.com>
# Copyright © 2005 Daniel Stone <daniel@fooishbar.org>
# Copyright © 2005 David Nusinow <dnusinow@debian.org>

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@ --with quilt,autoreconf --builddirectory=build/ --parallel

override_dh_auto_configure:
	dh_auto_configure -- --disable-silent-rules

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp
	install -d debian/tmp/etc/X11/twm
	install -m 644 src/system.twmrc debian/tmp/etc/X11/twm/system.twmrc-menu
	install -d debian/tmp/usr/share/xsessions
	install -m 644 debian/twm.desktop debian/tmp/usr/share/xsessions/twm.desktop

override_dh_install:
	dh_install --list-missing
